@import "tailwindcss";

:root {
  /* Colors */
  --background: #F8FAF9;
  --surface: #FFFFFF;

  --primary: #00836C;
  --primary-dark: #004237;

  --text-primary: #004237;
  --text-secondary: #6B7E7A;

  --border: #D9E5E2;
  --input-fill: #EBF8F6;

  --warning: #FFF2E8;

  --shadow: 0px 4px 20px rgba(0, 66, 55, 0.08);
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-border: var(--border);
  --color-input-fill: var(--input-fill);

  --color-warning: var(--warning);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text-primary);
  margin: 0;
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}

::selection {
  background: #00836C;
  color: white;
}